:root{
    --title-color: #322153;
    --primary-color: #34cb79;
    --background-color: #f0f0f5;
    --text-color: #000000;
    --form-color: white;
    --search-result-bg: white;

    --background: var(--background-color);
}

body.darkmode {
    --title-color: #322153;
    --primary-color: #34cb79;
    --background-color: #221C22;
    --text-color: #f0f0f5;
    --form-color:#ECECEC;
    --search-result-bg: #2D252D;

    --background: var(--background-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

body{
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

p {
    color: var(--text-color);
}

.dark-mode-toggle {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    background-color: white;
    align-self: baseline;
    margin-bottom: 10px;
    cursor: pointer;
}

.dark-mode-toggle img{
    width: 25px;
    height: auto;
}

